body {
    width: 700px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

span {
    font-size: 400%;
    padding: 20px;
}

.game-board {
    margin: 0 auto;
}

.square {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: lightpink;
}


.nought {
    height: 120px;
    width: 120px;
    border-radius: 120px;
    border: 30px solid black;
    margin: 10px
}